<style>
	.container { 
		height: <%=@height%>px;
	}
	.design {
		height: <%=@height%>px;
		background-image: url(/img/<%=@filename%>.png);
	}	
  <% if @overlay && @overlay === 'light' %>
  .overlay { background: rgba(255,255,255,.9); }
  <% end %>
  <% if @overlay && @overlay === 'dark' %>
  .overlay { background: rgba(0,0,0,.85); }
  <% end %>
</style>
