<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>MTD Parts Checkout</title>
	<script>
	/* Modernizr 2.6.2 (Custom Build) | MIT & BSD
	 * Build: http://modernizr.com/download/#-history
	 */
	;window.Modernizr=function(a,b,c){function t(a){i.cssText=a}function u(a,b){return t(prefixes.join(a+";")+(b||""))}function v(a,b){return typeof a===b}function w(a,b){return!!~(""+a).indexOf(b)}function x(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:v(f,"function")?f.bind(d||b):f}return!1}var d="2.6.2",e={},f=b.documentElement,g="modernizr",h=b.createElement(g),i=h.style,j,k={}.toString,l={},m={},n={},o=[],p=o.slice,q,r={}.hasOwnProperty,s;!v(r,"undefined")&&!v(r.call,"undefined")?s=function(a,b){return r.call(a,b)}:s=function(a,b){return b in a&&v(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=p.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(p.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(p.call(arguments)))};return e}),l.history=function(){return!!a.history&&!!history.pushState};for(var y in l)s(l,y)&&(q=y.toLowerCase(),e[q]=l[y](),o.push((e[q]?"":"no-")+q));return e.addTest=function(a,b){if(typeof a=="object")for(var d in a)s(a,d)&&e.addTest(d,a[d]);else{a=a.toLowerCase();if(e[a]!==c)return e;b=typeof b=="function"?b():b,typeof enableClasses!="undefined"&&enableClasses&&(f.className+=" "+(b?"":"no-")+a),e[a]=b}return e},t(""),h=j=null,e._version=d,e}(this,this.document);
	</script>
	<link rel="stylesheet" href="/css/style.css">
	<style>

		html, body, .container { width: 100%; height: 100%; }
		body { padding: 0px; }
		.container {
			background: url(/img/bg.jpg) no-repeat fixed center top;	
			min-height: 1340px;
		}		
		.design {
			margin: 0px auto;
			width: 980px;
			height: <%=@height%>px;
			background-color: #fff;
			background-image: url(/img/<%=@filename%>.png);
			background-repeat: no-repeat;
			background-position: center top;
		}	
		.design.loading {
			background-image: url(/img/loading.gif);
			background-position: center 200px;
		}
		#menu-wrap {
			width: 400px;
			height: 1440px;
			position: absolute;
			left: 0;
			top: 0;
			-webkit-transition: left .1s ease;
			   -moz-transition: left .1s ease;
			    -ms-transition: left .1s ease;
			     -o-transition: left .1s ease;
			        transition: left .1s ease;
		}
		#menu {
			position: absolute;
			left: 0;
			top: 0;
			width: 360px;
			height: 100%;
			background: #222;
		}
		#menu-wrap.closed { 
			left: -360px; 
			-webkit-transition: left .1s ease;
			   -moz-transition: left .1s ease;
			    -ms-transition: left .1s ease;
			     -o-transition: left .1s ease;
			        transition: left .1s ease;
		}
		#btn-menu {
			width: 44px;
			height: 40px;
			border-radius: 4px;
			background-color: #333;
			background: rgba(0,0,0,.5) url(/img/menu.png) no-repeat center center;
			position: absolute;
			left: 375px;
			top: 7px;
			text-indent: 9999px;
			display: block;
			border: none;
		}
		h2 { color: #888; font-size: 16px; line-height: 24px; margin-bottom: 10px; margin-left: 15px; }
		h3 { color: #777; font-size: 13px; line-height: 18px; margin-bottom: 10px; }
		ul { margin: 0; padding: 0; border-top: 1px solid #333; }
		li { list-style-type: none; border-bottom: 1px solid #333; }
		ul ul { display: none; }
		ul ul a { padding-left: 25px; background: #333; }
		ul ul li { border-bottom: 1px solid #222; }
		li li:last-child { border-bottom: none; }
		ul li.expanded ul { display: block; }		
		a { padding: 10px 15px; display: block; font-weight: normal; font-size: 14px; }
		a:link, a:visited, a:active, a:hover { color: #666; }
		a:hover { background: #444; }
		
	</style>
</head>
<body>
	<div class="container">
		<div class="overlay">
			<div id="menu-wrap" class="closed">
				<nav id="menu">
					<h2>MTD Parts Model Finder Designs</h2>
					<ul id="toc">
						<li><a href="#" class="expandable">Homepage / Global</a>
							<ul>
								<li><a href="/01-home?h=1377">Homepage</a></li>	
								<li><a href="/01-home-pn-autocomplete?h=1377">Part Finder Autocomplete</a></li>	
								<li><a href="/02-pf-modal?h=1377&o=light">Part Finder Global Link: Modal</a></li>
							</ul>
						</li>
						<li><a href="#" class="expandable">Part Model Finder Wizard</a>
							<ul>
								<li><a href="/03-pmf-mt?h=1377">PMF: Machine Type</a></li>
								<li><a href="/03-pmf-mt-hover?h=1377">PMF: Machine Type - Hover</a></li>
								<li><a href="/03-pmf-mt-selected?h=1377">PMF: Machine Type - Selected</a></li>
								<li><a href="/03-pmf-brand?h=1377">PMF: Brand</a></li>
								<li><a href="/03-pmf-brand-hover?h=1377">PMF: Brand - Hover</a></li>
								<li><a href="/03-pmf-brand-selected?h=1377">PMF: Brand - Selected</a></li>
								<li><a href="/03-pmf-dm?h=1377">PMF: Describe Model Default</a></li>
								<li><a href="/03-pmf-dm1-sel?h=1377">PMF: Describe Model #1 Selected</a></li>
								<li><a href="/03-pmf-dm1-sel-B?h=1377">PMF: Option B Describe Model #1 Selected</a></li>
								<li><a href="/03-pmf-dm2-sel?h=1377">PMF: Describe Model #2 Selected</a></li>
								<li><a href="/03-pmf-dm3-sel?h=1377">PMF: Describe Model #3 Selected</a></li>
								<li><a href="/03-pmf-dm4-sel?h=1377">PMF: Describe Model #4 Selected</a></li>
								<li><a href="/03-pmf-dm5-sel?h=1377">PMF: Describe Model #5 Selected</a></li>
								<li><a href="/03-pmf-result?h=1377">PMF: Find Model Results</a></li>
								<li><a href="/03-pmf-result-hover?h=1377">PMF: Find Model Results - Hover</a></li>
								<li><a href="/03-pmf-result-detail?h=1377">PMF: Model Detail</a></li>
								<li><a href="/03-pmf-result-detail-manuals?h=1377">PMF: Model Detail - Manuals</a></li>
								<li><a href="/03-pmf-result-detail-sched?h=1377">PMF: Model Detail - Maintenance Schedule</a></li>
								<li><a href="/03-pmf-result-detail-support?h=1377">PMF: Model Detail - Diagnose &amp; Troubleshoot</a></li>
								<li><a href="/03-pmf-result-detail-howto?h=1377">PMF: Model Detail - How To's</a></li>
							</ul>
						</li>
						<li><a href="#" class="expandable">Part Detail</a>
							<ul>
								<li><a href="/05-wholegood-part?h=1477">Part Detail</a></li>
								<li><a href="/05-wholegood-part-style?h=1477">Part Detail: Color option default</a></li>
								<li><a href="/05-wholegood-part-style-sel?h=1477">Part Detail: Color option selected</a></li>
								<li><a href="/05-wholegood-part-style-hover?h=1477">Part Detail: Color hover</a></li>
								<li><a href="/05-wholegood-part-style-error?h=1477">Part Detail: Color not selected error</a></li>
								<li><a href="/05-wholegood-part-assemblies?h=1477">Part Detail: Components tab</a></li>
								<li><a href="/05-wholegood-part-pledge?h=1477">Part Detail: Right Part Pledge tab</a></li>
								<li><a href="/05-wholegood-part-fits?h=1477">Part Detail: Fits Models tab</a></li>
								<li><a href="/05-wholegood-part-unavailable?h=1477">Part Detail: Not Available</a></li>
							</ul>
						</li>
						<li><a href="#" class="expandable">Search</a>
							<ul>
								<li><a href="/07-search-user-typing?h=1377">Search State: User Typing</a></li>
								<li><a href="/07-search-hover?h=1377">Search State: Hover Search Collection</a></li>
								<li><a href="/07-search-results-parts?h=1383">Search All Results: Parts Grid</a></li>
								<li><a href="/07-search-results-equipment?h=1383">Search All Results: Equipment List</a></li>
								<li><a href="/07-search-results-articles?h=1383">Search All Results: Article/Video List</a></li>
								<li><a href="/07-search-results-parts-collection?h=1383">Search Parts Collection Results</a></li>
							</ul>
						</li>
					</ul>
				</nav>	
				<button id="btn-menu">Menu</button>
			</div>
			<div class="design">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
$(function() { 
	var contentArea = $('.design');
	var menuWrap = $('#menu-wrap');

	if (Modernizr.history) {
		window.addEventListener('popstate', function(e) {
			if (e.state != null) {
				contentArea.html(e.state);
			}
		});
		history.replaceState(contentArea.html(), document.title, document.location.href);
	}

	// var tc_event = (typeof Touch == "object") ? 'click' : 'click';
 	$('.expandable').on('click', function(event) {
		event.preventDefault();
		$('.expanded').removeClass('expanded');
		$(this).parent().toggleClass('expanded');
	});

	$('#toc .expandable a').on('click', function(e) {
		if (Modernizr.history) {
			e.preventDefault();
			contentArea.addClass('loading');
			var url = $(this).attr('href');
			$.get(url, function(response) {
				contentArea.html(response);
				history.pushState(response, null, url);
				menuWrap.addClass('closed');	
				contentArea.removeClass('loading');	
			});
		}
	});

	$('#btn-menu').on('click', function(e) {
		e.preventDefault();
		menuWrap.toggleClass('closed');
	});

});
</script>
</html>		